a{
     color: inherit;

}



body{
     height: 100vh; 
    margin: 0px                                                       ;
    background: url('../img/image.png');
     background-size:cover; 
   
}

header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
.container-menu{
display: flex;
flex-direction: row;
justify-content: center;
gap: 15px;
font-size: 17pt;
margin-top: 15px;
color: #FFFF;
}

.logo-3{
     width: 350px;
     height: fit-content;
}